/__build__
/__server_build__
/node_modules
/typings
/tsd_typings/
npm-debug.log
dist
.idea
.DS_Store
tmp
perf-logs
v8.log
*.js.map
!gulpfile.js
/.nyc_output/
coverage
/server/config/env/development.env.ts
/server/config/env/test.env.ts
/server/config/env/development.env.js
/server/config/env/test.env.js
.vscode/
